<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <bean id="theFirstTraveler" class="com.tokobuku.impl.Traveler">
        <constructor-arg ref="car"/>
        <property name="origin" value="Jakarta"/>
        <property name="destination" value="Surabaya"/>
    </bean>

    <bean id="theSecondTraveler" class="com.tokobuku.impl.Traveler">
        <property name="car" ref="theOtherCar"/>
        <property name="origin" value="Surabaya"/>
        <property name="destination" value="Bandung"/>
    </bean>

    <bean id="theThirdTraveler" class="com.tokobuku.impl.Traveler" autowire="byName">
        <property name="origin" value="Bandung"/>
        <property name="destination" value="Semarang"/>
    </bean>

    <bean id="theFourthTraveler" class="com.tokobuku.impl.Traveler" autowire="constructor">
        <property name="origin" value="Sukabumi"/>
        <property name="destination" value="Jogja"/>
    </bean>

    <bean id="theMan" class="com.tokobuku.impl.Man" autowire="byType">
        <property name="address" value="Jalan Klambir 5 no.65 Medan"/>
    </bean>

    <bean id="car" class="com.tokobuku.impl.Car">
        <constructor-arg type="java.lang.String">
            <value>Mercedes-Benz</value>
        </constructor-arg>
        <constructor-arg type="java.lang.String">
            <value>S-Class S550 4MATIC</value>
        </constructor-arg>
        <constructor-arg type="java.lang.String">
            <value>4.7L V8 Twin Turbocharger</value>
        </constructor-arg>
        <constructor-arg type="java.lang.String">
            <value>Automatic 7-Speed</value>
        </constructor-arg>
        <constructor-arg type="java.lang.String">
            <value>Gasoline</value>
        </constructor-arg>
        <property name="motion" value="My human spirit is moving to the future..."/>
    </bean>

    <bean id="theOtherCar" class="com.tokobuku.impl.Car">
        <constructor-arg type="java.lang.String">
            <value>BMW</value>
        </constructor-arg>
        <constructor-arg type="java.lang.String">
            <value>7 Series 740Li</value>
        </constructor-arg>
        <constructor-arg type="java.lang.String">
            <value>3.0L I6</value>
        </constructor-arg>
        <constructor-arg type="java.lang.String">
            <value>Automatic 8-Speed</value>
        </constructor-arg>
        <constructor-arg type="java.lang.String">
            <value>Gasoline</value>
        </constructor-arg>
        <property name="motion" value="I am moving with pleasure, What an ultimate experience..."/>
    </bean>

    <bean id="car123" class="com.tokobuku.impl.Car">
        <constructor-arg type="java.lang.String">
            <value>Nissan</value>
        </constructor-arg>
        <constructor-arg type="java.lang.String">
            <value>9 Series 740Li</value>
        </constructor-arg>
        <constructor-arg type="java.lang.String">
            <value>8.0L I6</value>
        </constructor-arg>
        <constructor-arg type="java.lang.String">
            <value>Automatic 8-Speed</value>
        </constructor-arg>
        <constructor-arg type="java.lang.String">
            <value>Gasoline</value>
        </constructor-arg>
        <property name="motion" value="Racing everywhere..."/>
    </bean>

    <bean id="theHuman" class="com.tokobuku.impl.Human">
        <property name="name" value="Dian Ika Wahyuni"/>
        <property name="age" value="30"/>
    </bean>

</beans>